.cabecalho{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--bg-color);
    box-shadow: 0px 1px 4px hsl(0 4% 15% / 10%);
    z-index: 100;
}

.container {
    max-width: 1068px ;
    margin: auto;
    width: 100%;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.logo{
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--text-color);
}

#cart-icon{
    font-size: 1.8rem;
    cursor: pointer;
}